<a href="#" routerLink="/dashboard">Back to polls</a>
<form #polls="ngForm" (submit)="CreatePoll()">
 Question <input type="text" name="questionhtml" required minlength="8" [(ngModel)]="poll.question" #questionhtml="ngModel">
 <div *ngIf="questionhtml.invalid && (questionhtml.touched || questionhtml.dirty)">
    <p *ngIf="questionhtml.errors.required">Question is required</p>
    <p *ngIf="questionhtml.errors.minlength">Minimum length is 8</p>
 </div>
 <br>
 Option 1 <input type="text" name="optiononehtml" required minlength="3" [(ngModel)]="poll.option1" #option1html="ngModel">
 <div *ngIf="option1html.invalid && (option1html.touched || option1html.dirty)">
  <p *ngIf="option1html.errors.required">Option 1 is required</p>
  <p *ngIf="option1html.errors.minlength">Minimum length is 3</p>
</div>
<br>
 Option 2 <input type="text" name="option2html" required minlength="3" [(ngModel)]="poll.option2" #option2html="ngModel">
 <div *ngIf="option2html.invalid && (option2html.touched || option2html.dirty)">
  <p *ngIf="option2html.errors.required">Option 2 is required</p>
  <p *ngIf="option2html.errors.minlength">Minimum length is 3</p>
</div>
<br>
 Option 3 <input type="text" name="option3html" required minlength="3" [(ngModel)]="poll.option3" #option3html="ngModel">
 <div *ngIf="option3html.invalid && (option3html.touched || option3html.dirty)">
  <p *ngIf="option3html.errors.required">Option 3 is required</p>
  <p *ngIf="option3html.errors.minlength">Minimum length is 3</p>
</div>
<br>
 Option 4 <input type="text" name="option4html" required minlength="3" [(ngModel)]="poll.option4" #option4html="ngModel">
 <div *ngIf="option4html.invalid && (option4html.touched || option4html.dirty)">
  <p *ngIf="option4html.errors.required">Option 4 is required</p>
  <p *ngIf="option4html.errors.minlength">Minimum length is 3</p>
</div>
<br>
 <input type="submit" value="Create Poll" [disabled]="polls.invalid">
</form>